@model IEnumerable<atelier3.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.Errors != null)
{
    <div class="text-red ml">
        <ul>
            @foreach (string error in ViewBag.Errors)
            {
                <li class="ml">@error</li>
            }
        </ul>
    </div>
}
<br />
<h1>Index</h1>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Discount Rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membershipType.DiscountRate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
